@model FirstWebApp.App.Models.PermissionEntity

@{
    ViewData["Title"] = "Edytuj";
}

<
<br />
<br />
<h1>Edytuj Wpis ID @Model.IdPermission</h1>
<h4>Pozwolenia</h4>
<br />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPermission" />

            @*Modyfikacja Daty Dodania *@

@*            <div class="form-group">
            <label asp-for="PermissionDateAdded" class="control-label">Data Dodania:</label>
                <input asp-for="PermissionDateAdded" class="form-control" />
                <span asp-validation-for="PermissionDateAdded" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="PermissionName" class="control-label">Nazwa Pozwolenia:</label>
                <input asp-for="PermissionName" class="form-control" />
                <span asp-validation-for="PermissionName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PermissionDescription" class="control-label">Opis Pozwolenia:</label>
                <input asp-for="PermissionDescription" class="form-control" />
                <span asp-validation-for="PermissionDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SinceWhen" class="control-label">Od kiedy:</label>
                <input asp-for="SinceWhen" class="form-control" />
                <span asp-validation-for="SinceWhen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UntilWhen" class="control-label">Do kiedy:</label>
                <input asp-for="UntilWhen" class="form-control" />
                <span asp-validation-for="UntilWhen" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

<br />

<div class="form-group">
    <form asp-action="Index">
        <input type="submit" value="Powrót" class="btn btn-primary" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
