html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2f3031;
    color:white;
}

footer {
    margin-top: auto;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;   
}

#NavbarContent, #NavbarContent2 {
    font-size: 20px;
    background-color: rgb(57, 60, 62);
}

#NavbarLogo {
    color: #43d16e;
    font-size: 23px;
}

.linkedit {
    text-decoration: none; 
    color:#43d16e;
}

.linkedit:hover {
    text-decoration: none;
    color: #43d16e;
}