@model FirstWebApp.App.Models.AnimalEntity

@{
    ViewData["Title"] = "Dodaj Zwierze";
}

<br />
<br />
<h1>Dodaj Wpis</h1>
<h4>Zwierzęta</h4>
<br/><hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

@*            <div class="form-group">
                <label asp-for="IdAnimal" class="control-label"> Identyfikator Zwierzęcia </label>
                <input asp-for="IdAnimal" class="form-control" id="IdAnimal" name="IdAnimal" />
                <span asp-validation-for="IdAnimal" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <label asp-for="AnimalDateAdded" class="control-label"> Data Dodania</label>
                <input asp-for="AnimalDateAdded" class="form-control" id="AnimalDateAdded" name="AnimalDateAdded" />
                <span asp-validation-for="AnimalDateAdded" class="text-danger"></span>
            </div>*@

            <br/>

            <div class="form-group">
                <label asp-for="AnimalName" class="control-label"> Nazwa Zwierzęcia</label>
                <input asp-for="AnimalName" class="form-control" id="AnimalName" name="AnimalName" />
                <span asp-validation-for="AnimalName" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="AnimalDescription" class="control-label"> Opis </label>
                <input asp-for="AnimalDescription" class="form-control" id="AnimalDescription" name="AnimalDescription" />
                <span asp-validation-for="AnimalDescription" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <label asp-for="NumberOfIndividuals" class="control-label"> Liczba Osobników</label>
                <input asp-for="NumberOfIndividuals" class="form-control" id="NumberOfIndividuals" name="NumberOfIndividuals" />
                <span asp-validation-for="NumberOfIndividuals" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Endangered" id="Endangered" name="Endangered" /> Zagrożone
                </label>
            </div>

            <br/>
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br/>
<div class="form-group">
    <form asp-action="Index">
    <input type="submit" value="Powrót" class="btn btn-primary" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
