@model FirstWebApp.App.Models.AnimalEntity

@{
    ViewData["Title"] = "Usuń";
}

<br />
<br />
<h1>Wpis Usunięto Pomyślnie</h1>
<br />

<div class="form-group">
    <form asp-action="Index">
        <input type="submit" value="Powrót do Listy" class="btn btn-primary" />
    </form>
</div>
