<footer class=" text-white bg-dark border-top border-success">
        <div class="container" style="text-align:center;">
        &copy; 2023 - Nadleśnictwo Buczkowickie - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="linkedit">Wszelkie Prawa Zastrzeżone</a> -
        </div>
</footer>
