<header>
    <div class="obrazek"><partial name="Logo"/></div>
   
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">STRONA GŁÓWNA</a></li>
        <li><a asp-area="" asp-controller="About" asp-action="Index">O MNIE</a></li>
        <li><a asp-area="" asp-controller="About" asp-action="Hobby">MOJE HOBBY</a></li>
        <li><a asp-area="" asp-controller="Anything" asp-action="Anything">ANYTHING</a></li>
        <li><a asp-area="" asp-controller="Anything" asp-action="Podstrona">PODSTRONA</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">POLITYKA PRYWATNOŚCI</a></li>
    </ul>
</header>

